.header{
	width: 100%;
	height: 50px;
	background: #f5f5f5;
	border: 1px solid #dcdcdc;
	border-left: 0;
}
.header div{
	width: 960px;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
.header button{
	height: 30px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #dcdcdc;
	line-height: 30px;
	color: #555555;
	font-size: 14px;
	text-align: center;
	margin: 10px 0;
	padding: 0 5px;
	margin-right: 20px;
	display: inline-block;
}
.header span{
	float: right;
	line-height: 50px;
	font-size: 14px;
}
.header strong{
	color: #0c7afe;
	margin-left: 10px;
}
table{
	width: 960px;
	margin: 40px auto;
	text-align: center;
}
tr{
	height: 40px;
}
tr:nth-child(even){
	background: #f5f5f5;
}
tr:nth-child(odd){
	background: #fafafa;
}
tr:last-child td{
	border-bottom: 1px solid #dcdcdc;
}
td,th{
	border-left: 1px solid #dcdcdc;
	border-top: 1px solid #dcdcdc;
}
td,th:nth-child(1){
	width: 150px;
}
td,th:nth-child(2){
	width: 510px;
}
td,th:nth-child(3){
	width: 150px;
}
th:last-child{
	width: 150px;
	border-right: 1px solid #dcdcdc;
}
td:last-child{
	width: 150px;
	border-right: 1px solid #dcdcdc;
}
td button{
	width: 65px;
	height: 33px;
	background: #fff;
	border: 1px solid #dcdcdc;
	margin-left: 10px;
}
td button:first-child{
	margin-left: 0;
}
.subjectPop{
	width: 350px;
	height: 255px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #dcdcdc;
	left: 50%;
	top: 45%;
	margin-left: -200px;
	margin-top: -125px;
	padding: 0 25px;
	font-size: 24px;
	color: #555;
	line-height: 65px;
	position: absolute;
}
.subjectPop input{
	width: 350px;
	height: 53px;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
}
.submitBox{
	width: 400px;
	height: 115px;
	border-radius: 0 0 5px 5px;
	background: #fafafa;
	border: 1px solid #dcdcdc;
	position: absolute;
	left: -1px;
	bottom: -1px;
	text-align: center;
}
.submitBox button{
	width: 160px;
	height: 53px;
	border-radius: 5px;
	background: #0c7afe;
	color: #fff;
	border: 1px solid #dcdcdc;
	font-size: 22px;
	line-height: 53px;
	margin-top: 31px;
}